@font-face {
  font-family: "kong";
  src: './font/kong.ttf';
  font-weight: 200;
  font-style: normal;
  }

#canvas {
  image-rendering: pixelated;
}

#startScreen {
  position: absolute;
  top:8px;
  left:8px;
  background-color: rgba(200, 200, 200, 0.3);
  height: 400px;
  width: 360px;
  text-align: center;
}

#startScreen h1 {
  position: absolute;
  width: 100%;
  top: 20%;
}

#startScreen p {
  position: absolute;
  width: 100%;
  top: 45%;
}

#over {
  position: absolute;
  top:8px;
  left:8px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 400px;
  width: 360px;
  text-align: center;
}

#over h2 {
  position: absolute;
  width: 100%;
  top: 28%;
}

#over p {
  position: absolute;
  width: 100%;
  top: 45%;
}

#score {
  width: 100%;
  position: absolute;
  top: 10%;
}

#restart {
  position: absolute;
  top: 60%;
  left: 100px;
  width: 150px;
  height: 30px;
  background-color: green;
  line-height: 29px;
}
