@font-face {
  font-family: "kong";
  src: './font/kong.ttf';
  font-weight: 200;
  font-style: normal;
  }

#canvas {
  image-rendering: pixelated;
}

#ui {
  position: absolute;
  top:8px;
  left:8px;
  background-color: rgba(200, 200, 200, 0.3);
  height: 400px;
  width: 360px;
  text-align: center;
}

#ui h1 {
  position: absolute;
  width: 100%;
  top: 20%;
}

#ui p {
  position: absolute;
  width: 100%;
  top: 45%;
}